@media only screen and (min-width: 1366px) {
    header {
        margin-bottom: 20px;
        height: 120px;

        h1 {
            font-size: 1.8vmax;
        }
    }
    
    #gallery_container {
        padding: 5px;
    }
    
    .image_container {

        width: 25%;
    
        h2 {
            font-size: 1.5vmax;
        }
    }
    
    .image {
        padding: 5px;
    }

    footer {
        height: 120px;
        
        h3 {
            font-size: 1.3vmax;
        }
    }
}