header {

    background-color: rgb(100, 188, 208);
    color: white;
    height: 10%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 2vmax;
    }
}